@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body{
  font-family: 'Lato', sans-serif !important;
  margin-bottom: 0px !important;
}

h1,h2,h3,h4,h5,h6{
  color: #103d57;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color: #103d57;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
  color: #06476c;
}

.page-header {
     padding-bottom: 0px !important;
     margin: 0px 0 0px !important;
     border-bottom: none !important;
}

#header #main-navigation{
  margin: 20px 0 0 !important;
}

#header .page-header {
  margin: 0px 0 0px !important;
}

.main-home{
  min-height: 600px;
}

.inner{
  padding: 40px 0;
}

.institucional{
  background-color: #f2f2f2;
}

.btn{
  border-radius: 0px !important;
}

.btn-cta{
  background-color: #103d57;
  color: #fff;
  text-transform: uppercase;
}

.btn-cta:hover{
  background-color: #014972;
  color: #fff;
}

.conteudo-blog{
  padding: 30px 0 0
}

.widget-title{
  background-color: #103d57;
  color: #fff;
  padding: 10px 8px;
}

.titulo-colucoes{
  text-align: center;
}

.titulo-servicos{
  font-size: 28px;
  margin: 0px;
}

.box-servicos{
  border: #e7e7e7 solid 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.conteudo-servicos{
  padding: 10px;
}

.anuncio-box{
  margin-bottom: 15px;
}

.page-interno{
  min-height: 600px;
}

.site-title{
  margin-top: 30px;
}

.area{
  text-align: right;
  margin-bottom: 10px;
}

.btn-consultor{
  background-color: #d9bd0d;
  color: #103d57;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  transition-duration: 0.3s;
}

.btn-consultor:hover{
  background-color: #103d57;
  color: #fff;
}

.linha-noticia{
  margin-bottom: 20px;
}

.top-consultor{
  margin-left: 15px;
  margin-top: 15px;
}

.tel-header{
  font-weight: bold;
  font-size: 42px;
  padding-right: 65px;
  padding-top: -10px;
  display: block;
  float: left;
}

.titulo-interno{
  padding: 30px 0;
}

.titulo-menu-interno{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.newsletter{
  padding: 15px 0 0;
}

.img-servicos img{
  width: 100%;
}

/****************************************************************/

.menu-lateral{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu-lateral li a{
  background-color: #103d57;
  display: block;
  color: #fff;
  padding: 8px 9px;
  margin-bottom: 10px;
  transition-duration: 0.3s;
}

.menu-lateral li a:hover{
  background-color: #d9bd0d;
  color: #103d57;
  text-decoration: none;
}

.menu-lateral li.activate a{
  background-color: #d9bd0d;
  color: #103d57;
  text-decoration: none;
}

.img-noticia-blog{
  overflow: hidden;
  height: 400px;
}

.img-noticia-blog img{
  width: 100%;
}

/**************************************************************/
footer{
  background: url('../images/rodape.jpg') center top no-repeat;
  padding: 98px 0 15px !important;
  margin-top: 29px;
  color: #fff;
}

.end-site{
  margin-bottom: 18px;
}

.social img{
  margin-left: 15px;
}

/***************/
.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.center-block, .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

/* MENU */
.navbar-assistance{
  background-color: #103d57;
  border-radius: 0px !important;
  border-bottom: #082d42 solid 6px;
}

.navbar-assistance .navbar-nav > li > a{
  color: #fff;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

.navbar-assistance .navbar-nav > li > a:hover,
.navbar-assistance .navbar-nav > li > a:focus{
  background-color: #082d42;
}

.navbar-assistance .navbar-nav > li.active > a,
.navbar-assistance .navbar-nav > li.active > a:hover,
.navbar-assistance .navbar-nav > li.active > a:focus{
  background-color: #082d42;
}
/********************************************************/
.navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-toggle:hover,
.navbar-toggle:focus{
  background-color: #d9bd0d !important;
}

@media (max-width:640px) {
  footer .container{
    display: none !important;
  }
}
